@forward 'element-plus/theme-chalk/src/dark/var.scss' with (
  $bg-color: (
    'page': #303030,
    'overlay': #303030,
  )

);

:root {
  --el-color-primary: rgb(1, 1, 137);
}

:root.dark {
  --el-color-primary: rgb(7, 117, 251);
  --el-fill-color-blank:#303030;
}