@forward 'element-plus/theme-chalk/src/dark/var.scss' with (
  $bg-color: (
    'page': #0a0a0a,
    'overlay': #1d1e1f,
  )

);

:root {
  --el-color-primary: rgb(1, 1, 137);
}

:root.dark {
  --el-color-primary: rgb(7, 117, 251);
  --el-fill-color-blank:#1d1e1e;
}